:root {
  --color-white: #FFFFFF;
  --color-gray: #7D889E;
  --color-light-gray: #D5E1EF;
  --color-dark-navy: #1F314F;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Outfit Variable", sans-serif;
  font-size: 15px;
  letter-spacing: 0.19px;
  background-color: var(--color-light-gray);
}
